<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSiriUsageDescription</key>
	<string>A aplicação necessita de acesso à Siri.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ScheduleIntent</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Necessitamos saber a sua localização para carregar as paragens mais próximas de si.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Necessitamos saber a sua localização para carregar as paragens mais próximas de si.</string>
	<key>NSCameraUsageDescription</key>
	<string>Necessitamos de acesso à câmara para realizar a experiência AR.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
